absl-py==2.1.0
aiohttp==3.9.0
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
args==0.1.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
babel==2.16.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
breadability==0.1.20
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
catalogue==2.0.10
certifi==2023.5.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.1.0
cinemagoer==2023.5.1
click==8.1.7
clint==0.5.1
cloudpathlib==0.16.0
colorama==0.4.6
comm==0.2.2
comtypes==1.3.1
confection==0.1.4
connection==2021.7.20
contourpy==1.2.1
cryptography==43.0.0
cssselect==1.2.0
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.8
darkdetect==0.8.0
debugpy==1.8.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.8.0
Django==4.2.2
django-environ==0.11.2
docopt==0.6.2
docx2pdf==0.1.8
ecapture==2.0.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.1.0
fake-useragent==1.5.1
Faker==19.2.0
fastjsonschema==2.20.0
feedparser==6.0.11
filelock==3.12.2
Flask==3.0.2
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.3.1
gast==0.6.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.65.2
gspread==6.0.2
gunicorn==21.2.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.1
huggingface-hub==0.21.4
idna==3.4
IMDbPY==2022.7.9
importlib_metadata==7.1.0
inflection==0.5.1
ipykernel==6.29.5
ipython==8.27.0
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.context==4.3.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
JPype1==1.5.0
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.4.1
kiwisolver==1.4.5
langcodes==3.3.0
libclang==18.1.1
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.10
mutagen==1.47.0
mysql==0.0.3
mysql-connector-python==8.0.33
mysqlclient==2.2.0
namex==0.0.8
narwhals==1.13.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.28.0
openapi==1.1.0
openapi-python-client==0.18.0
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.0
pandas==2.0.2
pandocfilters==1.5.1
parse==1.20.1
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.2
pefile==2023.2.7
Pillow==10.0.0
platformdirs==3.8.0
preshed==3.0.9
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.0.0
pure_eval==0.2.3
pyarrow==18.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycountry==24.6.1
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
pyee==11.1.0
Pygments==2.18.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyjokes==0.6.0
PyJWT==2.8.0
PyMovieDb==0.0.9
PyMuPDF==1.24.13
PyMySQL==1.1.0
pyparsing==3.1.2
pypdf==4.0.2
PyPDF2==3.0.1
pypdfium2==4.30.0
pypiwin32==223
pypng==0.20220715.0
pyppeteer==2.0.0
pyquery==2.0.0
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-docx==1.1.2
python-json-logger==2.0.7
pyttsx3==2.90
pytube==15.0.0
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.2.0
qrcode==7.4.2
referencing==0.31.0
regex==2023.12.25
reportlab==4.2.2
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==1.4.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.13.1
rsa==4.9
ruff==0.2.2
safetensors==0.4.2
scikit-learn==1.5.2
scipy==1.13.1
selenium==4.18.1
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools-rust==1.9.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.1
SQLAlchemy==2.0.29
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
streamlit==1.40.0
StrEnum==0.4.15
sumy==0.11.0
sympy==1.13.1
tabula-py==2.9.3
tenacity==9.0.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
thinc==8.2.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tk==0.1.0
tmdbv3api==1.9.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
torchvision==0.20.1+cpu
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
transformers==4.39.1
trio==0.25.0
trio-websocket==0.11.1
twilio==9.0.0
typer==0.9.0
types-python-dateutil==2.9.0.20240906
typing_extensions==4.10.0
tzdata==2023.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
virtualenv==20.23.1
w3lib==2.1.2
wasabi==1.1.2
watchdog==5.0.3
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wikipedia==1.4.0
Wikipedia-API==0.6.0
winshell==0.6
wolframalpha==5.0.0
wrapt==1.16.0
wsproto==1.2.0
xlwt==1.3.0
xmltodict==0.13.0
yarl==1.9.3
yt-dlp==2024.7.25
zipp==3.18.1
